* {
  box-sizing: border-box;
}

body {
  width: 100%;
  font-family: "Inter", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #F4F6FE;
}

.navBar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 1em;
  background-color: white;
  align-items: center;
  position: relative;
}

.navBar .name {
  font-size: 1.7em;
  font-weight: 650;
  color: #5E67D7;
}

.hamburger {
  font-size: 28px;
  cursor: pointer;
  display: none;
  color: #5E67D7;
}


.dropdownMenu {
  list-style: none;
  margin: 0;
  padding: 10px;
  display: flex;
  flex-direction: row;
  gap: 30px;
  background-color: transparent;
  position: static;
  box-shadow: none;
}


.dropdownMenu li a {
  text-decoration: none;
  color: #5E67D7;
  font-weight: 600;
  padding: 10px 20px;
  display: block;
  border-radius: 8px;
  transition: background-color 0.2s;
}

.dropdownMenu li a:hover {
  background-color: #e0e3ff;
}

.introduction {
  display: flex;
  width: 100%;
  padding-top: 3em;
  padding-bottom: 10em;
  justify-content: center;
  align-items: center;
  gap: 6%;
}

.introduction .content {
  width: 47%;
  display: flex;
  flex-direction: column;
  justify-self: start;
  gap: 2em;
  padding-left: 4%;
}

.introduction .content h1 {
  font-size: 3.5em;
  font-weight: 600;
  color: #5E67D7;
}

.introduction .content>p {
  font-size: 1em;
  line-height: 1.1em;
}

.introduction .content .buttons {
  display: flex;
  justify-content: center;
  gap: 5%;
}

.introduction .content button {
  font-size: 0.9em;
  font-weight: 600;
  padding: 1em;
  border-radius: 5px;
}

.introduction .content .buttons .protein {
  border: #5E67D7 2px solid;
  color: #5E67D7;
  background-color: white;
}

.introduction .content .buttons .creatine {
  border: none;
  background-color: #5E67D7;
  color: white;

}

.introduction .img {
  width: 47%;
  display: flex;
  justify-content: center;
}

.introduction .img img {
  width: 75%;
  position: static;
}

.introduction .img .container {
  position: absolute;
  top: 28em;
  display: flex;
  justify-content: space-between;
  width: 40%;
}

.introduction .img .container>div {
  width: 35%;
  background-color: white;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  gap: 1em;
  justify-content: space-evenly;
  align-items: center;
  text-align: center;
  padding: 0.7em;
}

.introduction .img .container>div .header {
  font-size: 1.1em;
  font-weight: 550;
}

.introduction .img .container>div .text {
  font-size: 0.8em;
  font-weight: 450;
}

.mainArticles {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 10em;
}

.mainArticles .benefits {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 3em;
}

.mainArticles .benefits .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.mainArticles .benefits .title h2 {
  font-size: 2em;
  font-weight: 600;
}

.mainArticles .benefits .boxes {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 100%;
}

.mainArticles .benefits .boxes .box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  background-color: white;
  width: 20%;
  height: 16em;
  padding: 1em;
  padding-bottom: 2%;

}

.mainArticles .benefits .boxes .box .icon {
  background-color: #F4F6FE;
  width: 20%;
  padding: 4%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2em;

}

.mainArticles .benefits .boxes .box .header {
  font-size: 1.5em;
  font-weight: 550;
}

.mainArticles .explanation {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2em;
  gap: 4%;
}

.mainArticles .explanation img {
  width: 40%;
}

.mainArticles .explanation .article {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 40%;
  padding: 2em;
}

.mainArticles .explanation .article h2 {
  font-size: 2em;
  font-weight: 600;
  padding-bottom: 2em;
}

.mainArticles .explanation .article .texts {
  display: flex;
  flex-direction: column;
  padding: 2%;
  gap: 0.8em;
}

.bold {
  font-weight: 580;
}

.mainArticles .functions {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 100%;
}

.mainArticles .functions .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;

}

.mainArticles .functions .title h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.mainArticles .functions .boxes {
  display: flex;
  gap: 10%;
  width: 100%;
  justify-content: center;
  align-items: stretch;
}

.mainArticles .functions .boxes .box {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  width: 35%;
}

.mainArticles .functions .boxes .box .title {
  background-color: #5E67D7;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 1em;
  gap: 2em;
}

.mainArticles .functions .boxes .box .title .header {
  display: flex;
  justify-content: space-between;
}

.mainArticles .functions .boxes .box .title .header h3 {
  font-size: 1.5em;
  font-weight: 580;
}

.mainArticles .functions .boxes .box .title .header div {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #7278CE;
  border-radius: 30px;
}

.mainArticles .functions .boxes .box .title .header div p {
  font-size: 0.8em;
  padding-left: 0.5em;
  padding-right: 0.5em;
}

.mainArticles .functions .boxes .box .title>p {
  font-size: 0.8em;
  font-weight: 450;
}

.mainArticles .functions .boxes .box .content {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 2em;
  padding-top: 2.5em;
  gap: 1em;
}

.mainArticles .functions .boxes .box .content .container {
  display: flex;
  padding-right: 2%;
  padding-left: 2%;
  gap: 2em;
  font-size: 0.8em;
}

.mainArticles .functions .boxes .box .content .button {
  padding: 1em;
  margin-top: 1em;
  width: 40%;
  border-radius: 5px;
  border: none;
  background-color: #5E67D7;
  color: white;
}

.mainArticles .functions .boxes .box #creatine {
  background-color: #EB5D57;
}

.mainArticles .functions .boxes .box .title .header #creatine {
  background-color: #F07A75;
}

.mainArticles .functions .boxes .box .content #creatine {
  background-color: #EB5D57;
}

.mainArticles .FAQ {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 3em;
  width: 100%;
  padding-bottom: 3%;
}

.mainArticles .FAQ .title {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

.mainArticles .FAQ .title h2 {
  font-size: 2em;
  font-weight: 600;
  text-align: center;
}

.mainArticles .FAQ .questions {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

.mainArticles .FAQ .questions .box {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.mainArticles .FAQ .questions .box .question {
  width: 100%;
  display: flex;
  padding: 1em;
  background-color: white;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.mainArticles .FAQ .questions .box .question p {
  font-size: 1em;
  font-weight: 550;
}

.mainArticles .FAQ .questions .box .question button {
  font-size: 1.3em;
  font-weight: 550;
  color: #5E67D7;
  background-color: white;
  border: none;
}

.mainArticles .FAQ .questions .box .answer {
  width: 100%;
  display: none;
  justify-content: center;
  align-items: center;
  padding: 2%;
  padding-top: 0%;
  font-size: 0.8em;
  background-color: white;
  text-align: center;
  transition: max-height 0.4s ease;
}

nav.nav {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #5E67D7;
  color: white;
  padding: 2em;
  gap: 2em;

}

nav.nav h2 {
  font-size: 2em;
  font-weight: 600;
}

nav.nav p {
  width: 40%;
  text-align: center;
  font-size: 0.8em;
}

nav.nav .container {
  width: 30%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

nav.nav .container button {
  font-size: 1.1em;
  text-wrap: nowrap;
  padding: 1em;
  border-radius: 5px;
  border: none;
  color: #5E67D7;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2.5em;
  background-color: #2E3141;
  color: white;
}

footer .container {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 10%;
}

footer .describtion {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  gap: 3em;
}

footer .describtion h3 {
  font-size: 1.8em;
}

footer .describtion p {
  font-size: 0.8em;
}

footer .links {
  width: 60%;
  display: flex;
  justify-content: space-between;
}

footer .links .navigation {
  display: flex;
  flex-direction: column;
  gap: 3em;
  justify-content: space-evenly;
}

footer .links .navigation h4 {
  font-size: 1em;
}

footer .links .navigation .content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 1em;
}

footer .links .navigation .content a {
  color: white;
  text-decoration: none;
  font-size: 1em;
}

footer .links .contact {
  display: flex;
  flex-direction: column;
  gap: 3em;
}

button {
  cursor: pointer;
  text-wrap: nowrap;
}


/*https://chat.deepseek.com/a/chat/s/93421050-b5ea-47ef-87f2-0fbb27562bd1*/
@media (min-width: 601px) and (max-width: 1024px) {

  .dropdownMenu {
    gap: 15px;
  }

  .introduction {
    padding: 3em 2em;
    gap: 3em;
  }

  .introduction .content h1 {
    font-size: 2.5em;
  }

  .introduction .img .container {
    width: 45%;
    top: 24em;
  }

  .introduction .img .container>div {
    width: 42%;
  }

  .mainArticles {
    gap: 5em;
  }

  .mainArticles .benefits .boxes {
    flex-wrap: wrap;
    gap: 2em;
  }

  .mainArticles .benefits .boxes .box {
    width: 45%;
  }

  .explanation img {
    display: none;
  }

  .explanation .article {
    width: 80%;
  }

  .mainArticles .functions .boxes {
    flex-wrap: wrap;
    align-items: center;
  }

  .mainArticles .functions .boxes .box {
    width: 40%;

  }

  .mainArticles .functions .boxes .box .content .button {
    text-wrap: nowrap;
    width: 50%;
    padding: 1%;
  }

  .mainArticles .FAQ .questions {
    width: 80%;
  }

  nav.nav .container {
    width: 60%;
    justify-content: space-evenly;
  }

  footer .container {
    flex-wrap: wrap;
  }

  footer .describtion {
    width: 45%;
  }

  footer .links {
    width: 45%;
  }

  h2>p {
    text-align: center;
  }

  button {
    padding: 12px 24px;
    font-size: 1em;
  }

}

@media (max-width: 1200px) {

  .introduction .img .container {
    top: 24em;
  }

  .introduction .img .container>div {
    width: 42%;
  }

}

@media (max-width: 850px) {


  .introduction .img .container {
    top: 22em;
  }

  .introduction .img .container>div {
    width: 42%;
    font-size: 0.8em;
  }

  .mainArticles .explanation .article {
    padding: 0;
  }

  .mainArticles .functions .boxes {
    flex-wrap: wrap;
    flex-direction: column;
    gap: 3em;
  }

  .mainArticles .functions .boxes .box {
    width: 60%;
  }

  .functions .button {
    height: 3em;
  }

  article>p {
    text-align: center;
    padding-left: 2em;
    padding-right: 2em;
  }

}

@media (max-width: 600px) {

  .hamburger {
    display: block;
  }

  .dropdownMenu {
    display: none;
    flex-direction: column;
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: white;
    padding: 20px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1);
    z-index: 1000;
  }

  .dropdownMenu.show {
    display: flex;
  }

  .dropdownMenu li a {
    padding: 15px;
    text-align: center;
  }

  .introduction {
    flex-direction: column;
    padding: 2em 1em;
    gap: 5em;
  }

  .introduction .content {
    width: 100%;
    padding-left: 0;
    text-align: center;
  }

  .introduction .content h1 {
    font-size: 2em;
  }

  .introduction .content .buttons {
    flex-direction: column;
    gap: 1em;
  }

  .introduction .img {
    width: 100%;
    align-self: center;
  }

  .introduction .img .container {
    position: absolute;
    top: auto;
    width: 70%;
    flex-direction: row;
    gap: 1em;
    margin-top: 1em;
  }

  .introduction .img .container>div {
    width: 20%;
    display: none;
  }

  .mainArticles .benefits .boxes {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .mainArticles .benefits .boxes .box {
    width: 90%;
    height: auto;
    padding: 1.5em;
  }

  .mainArticles .explanation {
    flex-direction: column;
    padding: 2em 1em;
    gap: 2em;
  }

  .mainArticles .explanation img {
    width: 100%;
  }

  .mainArticles .explanation .article {
    width: 100%;
    padding: 0;
  }

  .mainArticles .functions .boxes {
    flex-direction: column;
    align-items: center;
    gap: 2em;
  }

  .mainArticles .functions .boxes .box {
    width: 90%;
  }

  .mainArticles .functions .boxes .box .content .button {
    width: 90%;
    align-self: center;
  }

  .mainArticles .FAQ .questions {
    width: 90%;
  }

  nav.nav p {
    width: 90%;
  }

  nav.nav .container {
    width: 100%;
    justify-content: space-evenly;
    gap: 1em;
  }

  footer .container {
    flex-direction: column;
    gap: 2em;
  }

  footer .describtion,
  footer .links {
    width: 100%;
  }

  footer .links {
    flex-direction: column;
    gap: 2em;
  }

  .title p,
  h2 {
    align-items: center;
    text-align: center;
    padding-left: 2%;
    padding-right: 2%;
  }
}

@media(max-width: 420px) {

  .introduction .img {
    width: 110%;
    margin-top: -2em;
  }


  .introduction .img .container {
    display: none;
  }

}